.menu-area-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

.menu-area-overlay.open {
    opacity: 1;
    visibility: visible;
}

.menu-content {
    width: 20vw;
    height: 100%;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    position: fixed;
    right: 0;
    top: 0;
    transform: translateX(100%);
    transition: transform 0.3s ease;
}

.menu-area-overlay.open .menu-content {
    transform: translateX(0);
}



.sidebar-header{
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: start;
}

.back-button-area{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
}

.back-button{
    width: 90px;
    height: 30px;
    padding: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    background-color: transparent;
    color: #0d6efd;
    border: none;
    margin-left:10px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    font-size: 12pt;
}

.back-button>p{
    margin-left: 3px;
}

.back-button:hover{
    background-color: #0b5dd72a;
}

.sb-button-icon{
    width: 40px;
    font-size: 14pt;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-buttons-area{
    width: 100%;
    height: 60%;
    
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
}

.sidebar-footer{
    width: 100%;
    height: 20%;
    display: flex;
    align-items: end;
    justify-content: center;
}

.area-sidebar-button-logout-area,
.area-sidebar-button{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    border-bottom: solid 1px #f8f8f8;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-bottom: 10px;
}

.area-sidebar-button-logout-area:hover,
.area-sidebar-button:hover{
    background-color: #e0e0e06b;
}

.menu-sidebar-button-logout,
.menu-sidebar-button{
    width: 90%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: row;
    padding: 12px;
    font-size: 14pt;
    color: #393939;
    text-decoration: none;
    font-weight: 500;
    
}




@media screen and (max-width:1024px) {
    .menu-content{
        width: 30%;
    }
}

@media screen and (max-width:768px) {
    .menu-content{
        width: 30%;
    }
}

@media screen and (max-width:480px) {
    .menu-content{
        width: 80vw;
    }
}

@media screen and (max-width:390px) {
    .menu-content{
        width: 80vw;
    }
}