.container-lista-passagens{
    width: 30vw;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}

.lista-passagens{
    width: 90%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    border-radius: 5px;
    background-color: #ffff;
    margin: 0;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
    font-size: 10pt;
}


.titulo-passagens{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    color: #393939;
}

.ul-lista-passagens{
    list-style: none;
    margin: 0;
    padding: 0;
}


.paragraph-area{
    
    display: flex;
    justify-content: start;
    align-items: center;
}


.paragraph-passagens{
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: #393939;
    gap: 0.3rem;
}

.li-passagens{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px;
    flex-wrap: wrap;
    border-bottom: #99999986 1px solid;
    color: #292929;
}


@media screen and (max-width: 1024px) {
    .container-lista-passagens {
        width: 90%;
    }

    .lista-passagens {
        width: 80%;
    }

    .li-student {
        display: flex;
        flex-direction: row;
    }

    
}

@media screen and (max-width: 768px) {
    .container-lista-passagens {
        width: 100%;

    }


    .lista-passagens {
        width: 80%;
        padding: 10px;
    }

    .li-student {
        display: flex;
        flex-direction: row;
    }
}

@media screen and (max-width: 480px) {
    .container-lista-passagens {
        width: 100%;
        
    }

    .lista-passagens {
        width: 90%;
    }

    .li-student {
        display: flex;
        flex-direction: row;
    }
 
}

@media screen and (max-width: 390px) {
    .container-lista-passagens {
        width: 100%;
        padding: 5px;
    }

    .lista-passagens {
        width: 90%;
    }

    .li-student {
        display: flex;
        flex-direction: row;
    }


    .no-students-message{
        font-size: 10pt;
    }
}

@media screen and (max-width: 320px) {
    .container-lista-passagens {
        width: 100%;
        padding: 5px;
    }

    .lista-passagens {
        width: 95%;
    }

    .li-student {
        display: flex;
        flex-direction: row;
    }

    .no-students-message{
        font-size: 10pt;
    }
}
