.container-lista-alunos{
    width: 30vw;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}



.lista-alunos{
    width: 90%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    border-radius: 5px;
    background-color: #ffff;
    margin: 0;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
}

.ul-lista-alunos{
    list-style: none;
    margin: 0;
    padding: 0;
}

.paragraph-area{
    
    display: flex;
    justify-content: start;
    align-items: center;
}

.paragraph-college{
    font-size: 14pt;
    
    font-weight: 700;
    color: #393939;
}

.paragraph-student{
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: #393939;
    padding-inline: 5px;
    padding-block: 3px;
}

.li-student{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px;
    flex-wrap: wrap;
    border-bottom: #99999986 1px solid;
    color: #292929;
}

.li-college{
    display: flex;
}

.stats-liberado{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(62, 202, 93, 0.2);
    color: #28a745;
    font-size: 10pt;
    border-radius: 13px;
    margin-left: 5px;
    padding-inline: 5px;
    padding-block: 3px;
}


.list-buttons{
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
}

.button-ready,
.button-edit,
.button-delete {
    border-radius: 5px;
    width: 40px;
    height: 40px;
    padding: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid transparent;
    font-size: 16pt;
    font-family: inherit;
    background-color: transparent;
    cursor: pointer;
  }

.button-ready {
    color: #83c25f;

  }
   

  
.button-edit {
      color: #e9bb58;

      
}


.button-delete {
    color: #d9534f;

  }

  .button-ready:hover,
  .button-edit:hover,
  .button-delete:hover {
    background-color: #eef1fd;
  }


/* Ajustes para telas menores */
@media screen and (max-width: 1024px) {
    .container-lista-alunos {
        width: 90%;
    }

    .lista-alunos {
        width: 80%;
    }

    .li-student {
        display: flex;
        flex-direction: row;
    }

    .list-buttons {
        margin-top: 5px;
    }
}

@media screen and (max-width: 768px) {
    .container-lista-alunos {
        width: 100%;

    }


    .lista-alunos {
        width: 80%;
        padding: 15px;
    }

    .li-student {
        display: flex;
        flex-direction: row;
    }

    .list-buttons {
        width: 30%;
        justify-content: space-between;
    }
}

@media screen and (max-width: 480px) {
    .container-lista-alunos {
        width: 100%;
        
    }

    .lista-alunos {
        width: 85%;
    }

    .li-student {
        display: flex;
        flex-direction: row;
    }
    
    .list-buttons {
        width: 45%;
        justify-content: space-between;
    }
}

@media screen and (max-width: 390px) {
    .container-lista-alunos {
        width: 100%;
        padding: 5px;
    }

    .lista-alunos {
        width: 85%;
    }

    .li-student {
        display: flex;
        flex-direction: row;
    }

    .list-buttons {
        width: 50%;
        justify-content: space-between;
    }   
}
