.container-lista-alunos{
    width: 30vw;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}



.lista-alunos{
    width: 90%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    border-radius: 10px;
    background-color: #ffff;
    margin: 0;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
}

.ul-lista-alunos{
    list-style: none;
    margin: 0;
    padding: 0;
}

.paragraph-area{
    width: 50% ;
    display: flex;
    justify-content: start;
    align-items: center;
}

.paragraph-college{
    font-size: 14pt;
    
    font-weight: 700;
    color: #393939;
}

.li-student{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px;
    flex-wrap: wrap;
    border-bottom: #99999986 1px solid;
    color: #292929;
}

.li-college{
    display: flex;
}


.list-buttons{
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
}

.button-ready {
    border-radius: 5px;
    width: 40px;
    height: 40px;
    padding: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid transparent;
    font-size: 14pt;
    font-family: inherit;
    background-color: #83c25f;
    color: #ffff;
    cursor: pointer;

  }
  .button-ready:hover {
    background-color: #76ad56;
  }

  
.button-edit {
      width: 40px;
      height: 40px;
      padding: 8px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 5px;
      border: 1px solid transparent;
      font-size: 14pt;
      font-family: inherit;
      background-color: #e9bb58;
      color: #ffff;
      cursor: pointer;
      
}

.button-edit:hover {
      background-color: #e0b048;
    }

.button-delete {
    width: 40px;
    height: 40px;
    padding: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border: 1px solid transparent;
    font-size: 14pt;
    font-family: inherit;
    background-color: #d9534f;
    color: #ffff;
    cursor: pointer;

  }
  .button-delete:hover {
    background-color: #c94e4e;
  }




/* Deixa os botões responsivos */
.button-ready, .button-delete .button-edit {
    padding: 8px 12px;
    font-size: 12pt;
}

/* Ajustes para telas menores */
@media screen and (max-width: 1024px) {
    .container-lista-alunos {
        width: 90%;
    }

    .lista-alunos {
        width: 80%;
    }

    .li-student {
        display: flex;
        flex-direction: row;
    }

    .list-buttons {
        margin-top: 5px;
    }
}

@media screen and (max-width: 768px) {
    .container-lista-alunos {
        width: 100%;

    }


    .lista-alunos {
        width: 80%;
        padding: 15px;
    }

    .li-student {
        display: flex;
        flex-direction: row;
    }

    .list-buttons {
        width: 30%;
        justify-content: space-between;
    }
}

@media screen and (max-width: 480px) {
    .container-lista-alunos {
        width: 100%;
        
    }

    .lista-alunos {
        width: 85%;
    }

    .li-student {
        display: flex;
        flex-direction: row;
    }
    
    .list-buttons {
        width: 50%;
        justify-content: space-between;
    }
}

@media screen and (max-width: 390px) {
    .container-lista-alunos {
        width: 100%;
        padding: 5px;
    }

    .lista-alunos {
        width: 85%;
    }

    .li-student {
        display: flex;
        flex-direction: row;
    }

    .list-buttons {
        width: 50%;
        justify-content: space-between;
    }
}
