.nav-bar{
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: #ffff;
    padding-bottom: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.05);
}

.nav-bar-area{
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    color: #4a6cf7;
}