.nav-bar{
    width: 100%;
    align-items: center;
    justify-content: space-between;
    display: flex;
    background-color: #ffff;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.nav-bar a{
  text-decoration: none;
  cursor: pointer;
}

.nav-bar>a>h2{
    display: flex;
    align-items: center;
    justify-content: start;
    color: #0d6efd;
    margin-left: 15px;
}

.navbar-button:hover {
    background-color: #405ed9;
  }

.menu-button{
    width: 50px;
    height: 50px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 23pt;
    color: #0d6efd;
    background-color:transparent;
    border: none;
    margin-right: 10px;
    cursor: pointer;
  }

.menu-button:hover{
    color: #0b5ed7;
}


@media screen and (max-width: 390px) {
  .nav-bar h2{
    font-size: 14pt;
  }
}