.content-adicionar-passagem {
    width: 90%;
    max-width: 800px;
    height: auto; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row; 
    padding: 10px;
    margin: 0 auto; 
    }

  .add-passagem-button {
      border-radius: 5px;
      padding: 8px 12px;
      display: flex; 
      justify-content: center;
      align-items: center;
      border: 1px solid transparent;
      font-size: 12pt;
      background-color:  #4a6cf7;
      cursor: pointer;
      color: #ffff;
      font-weight: 400;
  }
  
  .add-passagem-button:hover {
    background-color: #405ed9;
  }
  
  .modal-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.5); 
  }