@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

:root {
  width: 100vw;
  font-family: 'Inter', system-ui, -apple-system, sans-serif;
  
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  color: #292929;
  background-color: #f5f7fb;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

h1, h2, strong, b {
  font-weight: 700;
}